nav {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

h1 {
    padding-top: 10px;
}

h4 {
    margin-top: 5px;
}

img {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
}

h3 {
    display: inline;
}

footer {
    height: 30px;
    position: fixed;
    background: antiquewhite;
    width: 100%;
    bottom: 0;
}

main {
    margin-bottom: 40px;
}

div {
    margin-top: 80px;
}

a:hover {
    background-color: aquamarine;
}

html {
    font-family: 'Roboto', sans-serif;
}
